# CAP ClientLinkBTP-BlueSheet
_out
*.db
connection.properties
default-*.json
default-env.json
gen/
node_modules/
target/
app/ui/dist

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

ppgui.zip
.env
.env*

# IDEs
# .vscode
# .idea